 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 740px;
}

.u-section-1 .u-shape-1 {
  width: 591px;
  height: 479px;
  margin: 86px auto 0;
}

.u-section-1 .u-image-1 {
  width: 567px;
  height: 550px;
  margin: -505px auto 0;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 30px rgba(0,0,0,0.4);
  margin: -190px auto 0;
}

.u-section-1 .u-text-2 {
  width: 654px;
  font-weight: 500;
  font-size: 1.125rem;
  margin: 40px auto 41px;
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 700px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 66px;
  }

  .u-section-1 .u-text-2 {
    margin-bottom: 40px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 723px;
  }

  .u-section-1 .u-shape-1 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 524px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: -164px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 520px;
  }

  .u-section-1 .u-shape-1 {
    height: 304px;
    margin-top: 101px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    width: 320px;
    height: 322px;
    margin-top: -365px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -20px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 997px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 840px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-style: normal;
  text-transform: none;
  font-size: 1.875rem;
  margin: 20px 142px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1rem;
  background-image: none;
  line-height: 1.6;
  margin: 20px 0 0;
}

.u-section-2 .u-icon-1 {
  font-size: 1.875em;
}

.u-section-2 .u-icon-2 {
  font-size: 1.875em;
}

.u-section-2 .u-icon-3 {
  font-size: 1.875em;
}

.u-section-2 .u-icon-4 {
  font-size: 1.875em;
}

.u-section-2 .u-icon-5 {
  font-size: 1.875em;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 717px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 0 30px 20px;
}

.u-section-2 .u-shape-1 {
  width: 588px;
  height: 542px;
  margin: 149px auto 0;
}

.u-section-2 .u-image-1 {
  height: 601px;
  width: 644px;
  margin: -571px auto 0 0;
}

.u-section-2 .u-list-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 10.6667px));
  min-height: 120px;
  grid-gap: 16px;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px;
}

.u-section-2 .u-icon-6 {
  width: 71px;
  height: 71px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 32px auto 0 12px;
  padding: 16px;
}

.u-section-2 .u-text-3 {
  font-style: normal;
  font-weight: 700;
  margin: -103px 0 0 97px;
}

.u-section-2 .u-container-layout-4 {
  padding: 10px;
}

.u-section-2 .u-icon-7 {
  width: 71px;
  height: 71px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 32px auto 0 12px;
  padding: 16px;
}

.u-section-2 .u-text-4 {
  font-style: normal;
  font-weight: 700;
  margin: -103px 0 0 97px;
}

.u-section-2 .u-container-layout-5 {
  padding: 10px;
}

.u-section-2 .u-icon-8 {
  width: 71px;
  height: 71px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 32px auto 0 12px;
  padding: 16px;
}

.u-section-2 .u-text-5 {
  font-style: normal;
  font-weight: 700;
  margin: -103px 0 0 97px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1122px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 839px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: 62px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 839px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 23px;
    padding-bottom: 23px;
    padding-left: 0;
  }

  .u-section-2 .u-shape-1 {
    width: 471px;
    height: 451px;
    margin-top: 190px;
    margin-right: 26px;
  }

  .u-section-2 .u-image-1 {
    height: 575px;
    width: 554px;
    margin-top: -566px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 60px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 99px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-left: 92px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-left: 92px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-left: 92px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1684px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 676px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 50px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 637px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-2 .u-shape-1 {
    width: 563px;
    margin-top: 73px;
    margin-right: 40px;
  }

  .u-section-2 .u-image-1 {
    height: 467px;
    width: 690px;
    margin-top: -459px;
    margin-left: 8px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 40px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 227px;
    grid-gap: 16px 16px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .u-section-2 .u-icon-6 {
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: -69px;
    margin-left: 90px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .u-section-2 .u-icon-7 {
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-top: -69px;
    margin-left: 90px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .u-section-2 .u-icon-8 {
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-top: -69px;
    margin-left: 90px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 990px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 520px;
  }

  .u-section-2 .u-shape-1 {
    height: 435px;
    width: 520px;
    margin-top: 27px;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    height: 418px;
    margin-top: -426px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 30px;
  }

  .u-section-2 .u-icon-6 {
    margin-top: 28px;
    margin-left: 9px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -79px;
    margin-left: 91px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 30px;
  }

  .u-section-2 .u-icon-7 {
    margin-top: 28px;
    margin-left: 9px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -79px;
    margin-left: 91px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 0;
    padding-bottom: 30px;
  }

  .u-section-2 .u-icon-8 {
    margin-top: 28px;
    margin-left: 9px;
  }

  .u-section-2 .u-text-5 {
    margin-top: -79px;
    margin-left: 91px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 778px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-2 {
    width: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 326px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .u-section-2 .u-shape-1 {
    height: 220px;
    width: 317px;
    margin-top: 45px;
  }

  .u-section-2 .u-image-1 {
    height: 299px;
    margin-top: -265px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-icon-6 {
    margin-top: 31px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -72px;
    margin-left: 96px;
  }

  .u-section-2 .u-icon-7 {
    margin-top: 31px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -72px;
    margin-left: 96px;
  }

  .u-section-2 .u-icon-8 {
    margin-top: 31px;
  }

  .u-section-2 .u-text-5 {
    margin-top: -72px;
    margin-left: 96px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 906px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 786px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-3 .u-text-1 {
  font-style: normal;
  text-transform: none;
  font-size: 1.875rem;
  margin: 20px 142px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1rem;
  background-image: none;
  line-height: 1.6;
  margin: 20px 0 0;
}

.u-section-3 .u-icon-1 {
  font-size: 1.875em;
}

.u-section-3 .u-icon-2 {
  font-size: 1.5626em;
}

.u-section-3 .u-icon-3 {
  font-size: 1.875em;
}

.u-section-3 .u-icon-4 {
  font-size: 1.875em;
}

.u-section-3 .u-icon-5 {
  font-size: 1.875em;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 786px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 0 30px 20px;
}

.u-section-3 .u-shape-1 {
  width: 588px;
  height: 542px;
  margin: 94px auto 0;
}

.u-section-3 .u-image-1 {
  height: 601px;
  width: 644px;
  margin: -601px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 959px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 839px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-right: 62px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 839px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 23px;
    padding-bottom: 23px;
    padding-left: 0;
  }

  .u-section-3 .u-shape-1 {
    width: 471px;
    height: 451px;
    margin-top: 190px;
    margin-right: 26px;
  }

  .u-section-3 .u-image-1 {
    height: 575px;
    width: 554px;
    margin-top: -566px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1344px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 676px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 50px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 637px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-3 .u-shape-1 {
    width: 563px;
    margin-top: 32px;
    margin-right: 40px;
  }

  .u-section-3 .u-image-1 {
    height: 467px;
    width: 690px;
    margin-top: -483px;
    margin-left: 8px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1116px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 520px;
  }

  .u-section-3 .u-shape-1 {
    height: 435px;
    width: 520px;
    margin-top: 27px;
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    height: 418px;
    margin-top: -426px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 819px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-2 {
    width: auto;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 326px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .u-section-3 .u-shape-1 {
    height: 220px;
    width: 317px;
    margin-top: 45px;
  }

  .u-section-3 .u-image-1 {
    height: 299px;
    margin-top: -265px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 515px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 395px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-4 .u-text-1 {
  font-size: 1.875rem;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 395px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-4 .u-text-3 {
  font-size: 1.875rem;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-4 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 540px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 326px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 326px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 437px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 328px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 167px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.5rem;
  }
} .u-section-5 {
  background-image: none;
  min-height: 744px;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1140px;
  margin: 60px auto;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 624px;
}

.u-section-5 .u-container-layout-1 {
  padding: 50px;
}

.u-section-5 .u-text-1 {
  font-size: 2.25rem;
  margin: 0;
}

.u-section-5 .u-icon-1 {
  vertical-align: 0px;
  font-size: 1.1667em;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 624px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 19px;
}

.u-section-5 .u-shape-1 {
  width: 476px;
  height: 515px;
  margin: 0 auto 0 41px;
}

.u-section-5 .u-image-1 {
  object-position: 75.28% 50%;
  width: 540px;
  height: 450px;
  margin: -502px auto 0;
}

.u-section-5 .u-shape-2 {
  width: 132px;
  height: 132px;
  background-image: none;
  margin: -95px auto 16px 6px;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 635px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 515px;
  }

  .u-section-5 .u-container-layout-1 {
    padding: 30px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 108px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 576px;
  }

  .u-section-5 .u-shape-1 {
    width: 424px;
    height: 424px;
    margin-left: 0;
  }

  .u-section-5 .u-image-1 {
    width: 432px;
    height: 388px;
    margin-top: -411px;
  }

  .u-section-5 .u-shape-2 {
    width: 98px;
    height: 98px;
    margin-top: -34px;
    margin-bottom: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 394px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 50px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 536px;
  }

  .u-section-5 .u-container-layout-2 {
    padding: 20px;
  }

  .u-section-5 .u-shape-1 {
    width: 441px;
    height: 441px;
    margin-left: 80px;
  }

  .u-section-5 .u-image-1 {
    width: 613px;
    height: 440px;
    margin-top: -441px;
    margin-left: 24px;
  }

  .u-section-5 .u-shape-2 {
    margin-top: -97px;
    margin-left: 10px;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 651px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 50px;
    padding-left: 10px;
  }

  .u-section-5 .u-text-1 {
    margin-top: -10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-shape-1 {
    height: 388px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-5 .u-image-1 {
    height: 414px;
    margin-top: -414px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-shape-2 {
    margin-top: -65px;
    margin-bottom: -25px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 432px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 40px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 385px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-5 .u-shape-1 {
    height: 280px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-image-1 {
    height: 254px;
    margin-top: -267px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-shape-2 {
    width: 86px;
    height: 86px;
    margin-top: -30px;
    margin-bottom: 0;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 206px;
}

.u-section-6 .u-text-1 {
  margin: 60px 0;
}

.u-section-6 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}